<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    body {
      background-color: #f8f9fa;
      padding: 20px;
    }
    h1 {
      color: #007bff;
    }
    p {
      margin-bottom: 10px;
    }
    form {
      margin-top: 20px;
    }
    button {
      padding: 8px 16px;
      font-size: 16px;
      margin-right: 10px;
    }
    a.btn {
      text-decoration: none;
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center">User Profile</h1>
    <p><strong>Username:</strong> <%= user.username %></p>
    <p><strong>Email:</strong> <%= user.email %></p>

    <form action="/api/logout" method="GET">
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>

    <br />
    <br />

    <a href="/api/profile/edit" class="btn btn-danger">Edit Profile</a>
    <a class="btn btn-info" href="/api/profile/edit">Update</a>


 <!-- Form to trigger account deletion with confirmation -->
 <form id="deleteAccountForm" action="/api/deleteAccount" method="POST">
  <!-- Add onclick event to show confirmation -->
  <button type="button" onclick="confirmDelete()">Delete Account</button>
</form>

  <!-- JavaScript to show confirmation dialog -->
  <script>
    function confirmDelete() {
      const confirmation = confirm("Are you sure you want to delete your account?");
      if (confirmation) {
        // If the user confirms, submit the form
        document.getElementById("deleteAccountForm").submit();
      } else {
        // If the user cancels, do nothing
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-JgokrFZci9jtzo+0DKRiUOpms2Q3F/nUbbiiBMfk6u05PzTK3MBYrjNv4HVaUK8/g" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-cq5qcPFo+C46c3zHkZq6Rr3w5sH/jPyJdLQmy0SmvyYcJ9ydVvyMcsU4DE2CwXbw" crossorigin="anonymous"></script>
</body>
</html>
